/*
MEDIA QUERIES
0 - 600 px --> mobile
600 - 900 px --> tablet portrait
900 - 1200 px --> tablet landscape
[1200 - 1800 px] is where our normal styles apply
1800 px ~ --> desktop

$breakpoint parameters:
1. mobile
2. tablet-port
3. tablet-land
4. desktop

1em = 16px, convert our media queries to em for better accessibility

Media query mixin using breakpoint as an argument!
*/
/* Normalizing browser dependent styling, global reset */
/* universal selector including before and after pseudo-elements */
/* line 3, scss/base/_base.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* giving every element a box-sizing: inherit (border-box from body) */
  box-sizing: inherit; }

/* line 12, scss/base/_base.scss */
html {
  /* Root font size in html. Defining the 1rem equivalent in px. */
  font-size: 62.5%; }
  @media (max-width: 75em) {
    /* line 12, scss/base/_base.scss */
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    /* line 12, scss/base/_base.scss */
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    /* line 12, scss/base/_base.scss */
    html {
      font-size: 75%; } }

/* line 36, scss/base/_base.scss */
body {
  /* changes the box model so the borders and the paddings are no longer added to the total width/height specified for a box. */
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    /* line 36, scss/base/_base.scss */
    body {
      padding: 0; } }

/* line 46, scss/base/_base.scss */
button {
  cursor: pointer; }

/* line 1, scss/base/_typography.scss */
body {
  /* Using inheritance to set font --> will be inherited by child elements */
  font-family: 'Lato', 'Helvetica', 'sans-serif';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

/* line 10, scss/base/_typography.scss */
.heading-primary {
  color: #f7f7f7;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  /* line 17, scss/base/_typography.scss */
  .heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      /* line 17, scss/base/_typography.scss */
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  /* line 34, scss/base/_typography.scss */
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1rem;
    background-color: red;
    animation: moveInRight 1.5s ease-out; }
    @media (max-width: 37.5em) {
      /* line 34, scss/base/_typography.scss */
      .heading-primary--sub {
        letter-spacing: 0.5rem;
        font-size: 2rem; } }

/* line 50, scss/base/_typography.scss */
.heading-secondary {
  font-size: 3.5rem;
  font-weight: 400;
  color: #111; }
  @media (max-width: 56.25em) {
    /* line 50, scss/base/_typography.scss */
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    /* line 50, scss/base/_typography.scss */
    .heading-secondary {
      font-size: 2.5rem; } }

/* line 64, scss/base/_typography.scss */
.heading-tertiary {
  color: #111;
  font-size: 1.8rem;
  font-weight: 700; }

/* line 73, scss/base/_typography.scss */
.paragraph:not(:last-child) {
  margin-bottom: 5rem; }

/* line 1, scss/base/_utilities.scss */
.center {
  text-align: center !important; }

/* line 5, scss/base/_utilities.scss */
.white {
  color: white !important; }

/* line 9, scss/base/_utilities.scss */
.margin-top-sm {
  margin-top: 1.5rem !important; }

/* line 13, scss/base/_utilities.scss */
.margin-top-md {
  margin-top: 5rem !important; }

/* line 17, scss/base/_utilities.scss */
.margin-top-lg {
  margin-top: 8rem !important; }

/* line 21, scss/base/_utilities.scss */
.margin-btm-sm {
  margin-bottom: 1.5rem !important; }

/* line 25, scss/base/_utilities.scss */
.margin-btm-md {
  margin-bottom: 5rem !important; }
  @media (max-width: 56.25em) {
    /* line 25, scss/base/_utilities.scss */
    .margin-btm-md {
      margin-bottom: 3rem !important; } }

/* line 33, scss/base/_utilities.scss */
.margin-btm-lg {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    /* line 33, scss/base/_utilities.scss */
    .margin-btm-lg {
      margin-bottom: 5rem !important; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* line 2, scss/components/_button.scss */
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.2s;
  color: #111;
  border: none;
  animation: moveInBottom 1.5s ease-out; }

/* line 19, scss/components/_button.scss */
.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

/* line 24, scss/components/_button.scss */
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.15rem);
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3); }

/* line 31, scss/components/_button.scss */
.btn--white {
  background-color: white;
  color: #777; }

/* line 38, scss/components/_button.scss */
.btn-text:link, .btn-text:visited {
  color: #24a858;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: 5px;
  backface-visibility: hidden; }

/* line 50, scss/components/_button.scss */
.btn-text--white {
  color: white !important; }

/* line 54, scss/components/_button.scss */
.btn-text:hover {
  background-color: #24a858;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

/* line 1, scss/components/_collage.scss */
.collage {
  position: relative;
  backface-visibility: hidden; }
  /* line 5, scss/components/_collage.scss */
  .collage__photo {
    width: 60%;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    transition: all 0.5s; }
    @media (max-width: 56.25em) {
      /* line 5, scss/components/_collage.scss */
      .collage__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); } }
    /* line 20, scss/components/_collage.scss */
    .collage__photo--img1 {
      left: 0;
      top: 0; }
      @media (max-width: 56.25em) {
        /* line 20, scss/components/_collage.scss */
        .collage__photo--img1 {
          top: 0.5rem; } }
    /* line 29, scss/components/_collage.scss */
    .collage__photo--img2 {
      right: 0;
      top: 9rem; }
      @media (max-width: 56.25em) {
        /* line 29, scss/components/_collage.scss */
        .collage__photo--img2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    /* line 40, scss/components/_collage.scss */
    .collage__photo--img3 {
      left: 17%;
      top: 21rem; }
      @media (max-width: 56.25em) {
        /* line 40, scss/components/_collage.scss */
        .collage__photo--img3 {
          top: 0.5rem;
          left: 0; } }
    /* line 50, scss/components/_collage.scss */
    .collage__photo:hover {
      transform: scale(1.03) translateY(-1rem);
      box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.4);
      z-index: 2; }
  /* line 59, scss/components/_collage.scss */
  .collage:hover .collage__photo:not(:hover) {
    transform: scale(0.95); }

/* line 2, scss/components/_featuresBox.scss */
.features__box {
  background-color: rgba(250, 250, 250, 0.3);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s;
  color: white; }
  @media (max-width: 56.25em) {
    /* line 2, scss/components/_featuresBox.scss */
    .features__box {
      padding: 4rem; } }
  /* line 15, scss/components/_featuresBox.scss */
  .features__box:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

/* line 21, scss/components/_featuresBox.scss */
.features__icon {
  font-size: 6rem;
  color: #777; }
  @media (max-width: 56.25em) {
    /* line 21, scss/components/_featuresBox.scss */
    .features__icon {
      margin-bottom: 0; } }

/* line 1, scss/components/_card.scss */
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  /* line 9, scss/components/_card.scss */
  .card__side {
    position: absolute;
    height: 52rem;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 3rem rgba(17, 17, 17, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s ease; }
    /* line 21, scss/components/_card.scss */
    .card__side--front {
      background-color: white; }
    /* line 25, scss/components/_card.scss */
    .card__side--back {
      transform: rotateY(180deg); }
  /* line 37, scss/components/_card.scss */
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  /* line 41, scss/components/_card.scss */
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  /* line 46, scss/components/_card.scss */
  .card__image {
    background-size: cover;
    height: 24rem;
    background-position: bottom;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    /* line 54, scss/components/_card.scss */
    .card__image--rome {
      background-image: url(../images/unsplash_6.jpg); }
      @media (max-width: 56.25em) {
        /* line 54, scss/components/_card.scss */
        .card__image--rome {
          background-position: center; } }
    /* line 62, scss/components/_card.scss */
    .card__image--stockholm {
      background-image: url(../images/unsplash_7.jpg); }
      @media (max-width: 56.25em) {
        /* line 62, scss/components/_card.scss */
        .card__image--stockholm {
          background-position: center; } }
  /* line 71, scss/components/_card.scss */
  .card__heading {
    font-size: 2.8rem;
    font-weight: 500;
    color: #111;
    text-align: center;
    margin-top: 1.5rem; }
  /* line 80, scss/components/_card.scss */
  .card__details {
    padding: 0.5rem; }
    /* line 83, scss/components/_card.scss */
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      /* line 88, scss/components/_card.scss */
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        /* line 93, scss/components/_card.scss */
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #f7f7f7; }
  /* line 100, scss/components/_card.scss */
  .card__booking {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  /* line 107, scss/components/_card.scss */
  .card__price {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 5rem;
    color: white;
    background-color: #24a858; }
  @media (max-width: 56.25em) {
    /* line 1, scss/components/_card.scss */
    .card {
      height: auto; }
      /* line 120, scss/components/_card.scss */
      .card__side {
        position: relative;
        height: auto;
        border-radius: 0.3rem;
        box-shadow: none; }
        /* line 126, scss/components/_card.scss */
        .card__side--back {
          transform: rotateY(0deg); }
      /* line 132, scss/components/_card.scss */
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      /* line 136, scss/components/_card.scss */
      .card__booking {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        text-align: center; }
        /* line 143, scss/components/_card.scss */
        .card__booking .btn {
          width: 100%;
          background-color: #287e67;
          color: white;
          border-radius: 0; }
      /* line 151, scss/components/_card.scss */
      .card__price {
        font-size: 3rem;
        font-weight: 700;
        color: white;
        background-color: #24a858;
        margin-bottom: 0; } }

/* line 1, scss/components/_review.scss */
.review {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(17, 17, 17, 0.1);
  padding: 5rem;
  background-color: #fafafa;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    /* line 1, scss/components/_review.scss */
    .review {
      padding: 4rem;
      width: 100%;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    /* line 1, scss/components/_review.scss */
    .review {
      transform: skew(0); } }
  /* line 19, scss/components/_review.scss */
  .review__image-container {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    @media (max-width: 37.5em) {
      /* line 19, scss/components/_review.scss */
      .review__image-container {
        transform: translateX(-3rem) skew(0); } }
  /* line 37, scss/components/_review.scss */
  .review__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.2); }
  /* line 42, scss/components/_review.scss */
  .review__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      /* line 42, scss/components/_review.scss */
      .review__text {
        transform: skew(0); } }
  /* line 50, scss/components/_review.scss */
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
    transition: all 0.5s; }
  /* line 65, scss/components/_review.scss */
  .review:hover .review__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  /* line 70, scss/components/_review.scss */
  .review:hover .review__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(85%); }
  /* line 75, scss/components/_review.scss */
  .review__background-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
    overflow: hidden; }
    /* line 85, scss/components/_review.scss */
    .review__background-video--content {
      height: 100%;
      width: 100%;
      object-fit: cover; }

/* line 2, scss/components/_form.scss */
.form__group:not(:last-child) {
  margin-bottom: 2rem; }

/* line 6, scss/components/_form.scss */
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  @media (max-width: 56.25em) {
    /* line 6, scss/components/_form.scss */
    .form__input {
      width: 100%; } }
  /* line 23, scss/components/_form.scss */
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.4);
    border-bottom: 3px solid #24a858; }
    /* line 29, scss/components/_form.scss */
    .form__input:focus::-webkit-input-placeholder {
      color: #777; }
  /* line 34, scss/components/_form.scss */
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff4d4d; }

/* line 39, scss/components/_form.scss */
.form__label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

/* line 49, scss/components/_form.scss */
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

/* line 56, scss/components/_form.scss */
.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    /* line 56, scss/components/_form.scss */
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

/* line 66, scss/components/_form.scss */
.form__radio-input {
  display: none; }

/* line 70, scss/components/_form.scss */
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem; }

/* line 77, scss/components/_form.scss */
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #24a858;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.5rem; }
  /* line 87, scss/components/_form.scss */
  .form__radio-button::after {
    content: '';
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #24a858;
    opacity: 0;
    transition: opacity 0.2s; }

/* line 104, scss/components/_form.scss */
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

/* line 1, scss/layouts/_grid.scss */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  /* line 5, scss/layouts/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 6rem; }
    @media (max-width: 56.25em) {
      /* line 5, scss/layouts/_grid.scss */
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  @media (max-width: 56.25em) {
    /* line 1, scss/layouts/_grid.scss */
    .row {
      max-width: 80rem;
      padding: 0 3rem; } }
  /* line 2, scss/abstract/_mixins.scss */
  .row:after {
    content: '';
    display: table;
    clear: both; }
  /* line 22, scss/layouts/_grid.scss */
  .row [class^='col-'] {
    float: left; }
    /* line 25, scss/layouts/_grid.scss */
    .row [class^='col-']:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 56.25em) {
        /* line 25, scss/layouts/_grid.scss */
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media (max-width: 56.25em) {
      /* line 22, scss/layouts/_grid.scss */
      .row [class^='col-'] {
        width: 100% !important; } }
  /* line 40, scss/layouts/_grid.scss */
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  /* line 46, scss/layouts/_grid.scss */
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  /* line 51, scss/layouts/_grid.scss */
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  /* line 57, scss/layouts/_grid.scss */
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  /* line 61, scss/layouts/_grid.scss */
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  /* line 65, scss/layouts/_grid.scss */
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

/* line 1, scss/layouts/_header.scss */
.header {
  height: 95vh;
  background-image: url("../images/unsplash_1.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    /* line 1, scss/layouts/_header.scss */
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  /* line 20, scss/layouts/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 26, scss/layouts/_header.scss */
  .header__logo {
    height: 3.5rem; }
  /* line 30, scss/layouts/_header.scss */
  .header__text-box {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* line 1, scss/layouts/_footer.scss */
.footer {
  background-color: #111;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    /* line 1, scss/layouts/_footer.scss */
    .footer {
      padding: 8rem 0; } }
  /* line 10, scss/layouts/_footer.scss */
  .footer__logo-container {
    text-align: center; }
  /* line 14, scss/layouts/_footer.scss */
  .footer__logo {
    width: 15rem;
    height: auto;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      /* line 14, scss/layouts/_footer.scss */
      .footer__logo {
        margin-bottom: 4rem; } }
  /* line 24, scss/layouts/_footer.scss */
  .footer__navigation {
    border-top: 1px solid white;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      /* line 24, scss/layouts/_footer.scss */
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  /* line 35, scss/layouts/_footer.scss */
  .footer__list {
    list-style: none; }
  /* line 39, scss/layouts/_footer.scss */
  .footer__item {
    display: inline-block; }
    /* line 42, scss/layouts/_footer.scss */
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  /* line 48, scss/layouts/_footer.scss */
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    display: inline-block;
    text-decoration: none; }
  /* line 55, scss/layouts/_footer.scss */
  .footer__link:hover, .footer__link:active {
    color: #24a858; }
  /* line 61, scss/layouts/_footer.scss */
  .footer__copyright {
    text-align: left;
    border-top: 1px solid white;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      /* line 61, scss/layouts/_footer.scss */
      .footer__copyright {
        width: 100%;
        text-align: center; } }

/* line 1, scss/pages/_home.scss */
.section-about {
  background: #f7f7f7;
  padding: 20rem 0;
  margin-top: -13vh;
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%); }
  @media (max-width: 56.25em) {
    /* line 1, scss/pages/_home.scss */
    .section-about {
      padding: 20rem 0;
      clip-path: polygon(0 15vh, 100% 0%, 100% 100%, 0 100%); } }
  @media (max-width: 37.5em) {
    /* line 1, scss/pages/_home.scss */
    .section-about {
      clip-path: none; } }

/* line 17, scss/pages/_home.scss */
.section-features {
  padding: 12rem 0;
  background-image: url("../images/unsplash_5.jpg");
  background-size: cover;
  background-position: top; }

/* line 24, scss/pages/_home.scss */
.section-tours {
  padding: 20rem 0;
  background: #f7f7f7; }
  @media (max-width: 56.25em) {
    /* line 24, scss/pages/_home.scss */
    .section-tours {
      padding: 10rem 0; } }

/* line 33, scss/pages/_home.scss */
.section-testimonials {
  padding: 20rem 0;
  position: relative; }

/* line 38, scss/pages/_home.scss */
.section-booking {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, white, #f7f7f7); }

/* line 47, scss/pages/_home.scss */
.booking {
  background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(250, 250, 250, 0.9) 50%, transparent 50%), url("../images/unsplash_11.jpg");
  background-size: 100%;
  border-radius: 3px;
  position: top;
  box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.35);
  background-position: bottom; }
  @media (max-width: 75em) {
    /* line 47, scss/pages/_home.scss */
    .booking {
      background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(250, 250, 250, 0.9) 70%, transparent 65%), url("../images/unsplash_11.jpg");
      background-size: cover; } }
  @media (max-width: 56.25em) {
    /* line 47, scss/pages/_home.scss */
    .booking {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("../images/unsplash_11.jpg"); } }
  /* line 81, scss/pages/_home.scss */
  .booking__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      /* line 81, scss/pages/_home.scss */
      .booking__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      /* line 81, scss/pages/_home.scss */
      .booking__form {
        width: 100%; } }
