/* Normalizing browser dependent styling, global reset */
/* universal selector including before and after pseudo-elements */
/* line 3, scss/base/_base.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* giving every element a box-sizing: inherit (border-box from body) */
  box-sizing: inherit; }

/* line 12, scss/base/_base.scss */
html {
  /* root font size in html */
  font-size: 62.5%; }

/* line 17, scss/base/_base.scss */
body {
  /* Using inheritance to set font --> will be inherited by child elements */
  font-family: 'Lato', 'Helvetica', 'sans-serif';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /* changes the box model so the borders and the paddings are no longer added to the total width/height specified for a box. */
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* line 1, scss/layouts/_header.scss */
.header {
  height: 95vh;
  background-image: url("../../assets/images/unsplash_1.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

/* line 14, scss/layouts/_header.scss */
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

/* line 20, scss/layouts/_header.scss */
.header__logo {
  height: 3.5rem; }

/* line 24, scss/layouts/_header.scss */
.header__text-box {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* line 32, scss/layouts/_header.scss */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }

/* line 40, scss/layouts/_header.scss */
.heading-primary--main {
  display: block;
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: 2rem;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out; }

/* line 53, scss/layouts/_header.scss */
.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1rem;
  animation: moveInRight 1.5s ease-out; }

/* line 62, scss/layouts/_header.scss */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  animation: moveInBottom 1.5s ease-out; }

/* line 73, scss/layouts/_header.scss */
.btn:hover {
  transform: translateY(-0.15rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

/* line 78, scss/layouts/_header.scss */
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3); }

/* line 83, scss/layouts/_header.scss */
.btn--white {
  background-color: #fff;
  color: #777; }
