.review {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  padding: 5rem;
  background-color: $color-white-off;
  transform: skewX(-12deg);

  &__image-container {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    // requires dimension and to be floated
    shape-outside: circle(50% at 50% 50%);
    // safari compatability
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;

    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(85%);
  }

  &__background-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
    overflow: hidden;

    &--content {
      height: 100%;
      width: 100%;
      object-fit: cover; // or fill
    }
  }
}
