/* Normalizing browser dependent styling, global reset */
/* universal selector including before and after pseudo-elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* giving every element a box-sizing: inherit (border-box from body) */
  box-sizing: inherit;
}

html {
  /* Root font size in html. Defining the 1rem equivalent in px. */
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include responsive(tablet-landscape) {
    // width < 900px?
    font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
  }

  @include responsive(tablet-portrait) {
    // width < 600px?
    font-size: 50%; // 1rem = 8px; 8/16 = 50%
  }

  // Same as above query, so unnecessary, can conflict
  // @include responsive(tab-port) {
  //   font-size: 50%; // 1rem = 8px; 8/16 = 50%
  // }

  @include responsive(desktop) {
    font-size: 75%; // 1rem = 12px; 12/16 = 75%
  }
}

body {
  /* changes the box model so the borders and the paddings are no longer added to the total width/height specified for a box. */
  box-sizing: border-box;
  padding: 3rem;

  @include responsive(tablet-portrait) {
    padding: 0;
  }
}

button {
  cursor: pointer;
}

::selection {
  background-color: $color-green-1;
  color: $color-white;
}
