body {
  /* Using inheritance to set font --> will be inherited by child elements */
  font-family: 'Lato', 'Helvetica', 'sans-serif';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey;
  padding: 3rem;
}
