.center {
  text-align: center;
}

.white {
  color: $color-white;
}

.margin-top-sm {
  margin-top: 1.5rem;
}

.margin-top-md {
  margin-top: 5rem;
}

.margin-top-lg {
  margin-top: 8rem;
}

.margin-btm-sm {
  margin-bottom: 1.5rem;
}

.margin-btm-md {
  margin-bottom: 5rem;
}

.margin-btm-lg {
  margin-bottom: 8rem;
}
