.center {
  text-align: center !important;
}

.white {
  color: $color-white !important;
}

.margin-top-sm {
  margin-top: 1.5rem !important;
}

.margin-top-md {
  margin-top: 5rem !important;
}

.margin-top-lg {
  margin-top: 8rem !important;
}

.margin-btm-sm {
  margin-bottom: 1.5rem !important;
}

.margin-btm-md {
  margin-bottom: 5rem !important;

  @include responsive(tablet-portrait) {
    margin-bottom: 3rem !important;
  }
}

.margin-btm-lg {
  margin-bottom: 8rem !important;

  @include responsive(tablet-portrait) {
    margin-bottom: 5rem !important;
  }
}
