.footer {
  background-color: $color-black;
  padding: 10rem 0;
  font-size: 1.4rem;

  @include responsive(tablet-portrait) {
    padding: 8rem 0;
  }

  &__logo-container {
    text-align: center;
  }

  &__logo {
    width: 15rem;
    height: auto;
    margin-bottom: 8rem;

    @include responsive(tablet-portrait) {
      margin-bottom: 4rem;
    }
  }

  &__navigation {
    border-top: 1px solid $color-white;
    padding-top: 2rem;
    display: inline-block;

    @include responsive(tablet-portrait) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light;
      display: inline-block;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $color-green-2;
    }
  }

  &__copyright {
    text-align: left;
    border-top: 1px solid $color-white;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include responsive(tablet-portrait) {
      width: 100%;
      text-align: center;
    }
  }
}
