// Colors
$color-white: white;
$color-white-off: #fafafa;
$color-black: #111;
$color-grey-light: #f7f7f7;
$color-grey: #777;
$color-green-1: #a2cca9;
$color-green-2: #24a858;
$color-green-3: #287e67;
$color-red: lighten(red, 15%);

// Font sizes
$fs-default: 1.6rem;

// Grid spacing
$grid-width: 114rem;
$gutter-width: 4rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
